# git
.git
.gitignore

# docker
Dockerfile
docker-compose.yml
.dockerignore

# frontend 
frontend/node_modules
frontend/dist
frontend/.angular

# laravel
backend/vendor
backend/node_modules
backend/public/storage
backend/storage/*.key
backend/.env